body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f2f1ed;
}

.main-header {
    position: relative;
    height: 500px;
    background: url(img/header.jpg);
}


.main-header-ctn {
    position: relative;
    top: 33.33%;
    left: 25%;
    justify-content: center;
}

h1 {
    font-size: 6vw;
    text-transform: uppercase;
    margin: 10px 0 50px;
    color: #007bff;
    font-weight: 400;
    position: relative;
}

h1::before {
    content: "";
    position: absolute;
    width: 10%;
    height: 2px;
    background-color: #007bff;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
}

p {
    font-size: ;
    color: #333;
}

link {
    display: inline-block;
    padding: 10px 25 px;
    border: 1px solid #007bff;
    font-size: 1.2rem;
    color: #333;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.main-nav{
    background:#007bff;
    padding: 10px 0;
    text-align: ;
    color:   
}